<!DOCTYPE html>
<html>
<head>
	<title>Monnaie</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="mapp">
<div ng-controller="MoneyCtrl">
	
<h1>Jeu de la monnaie</h1>
<h3>Le montant a former {{montant}} {{total()}} </h3>
{{selection}}
<span ng-show="montant==total">Correct !</span>
<span ng-show="total!=0 && montant!=total">Erreur !</span>
<div style="border: 1px solid black;min-height:150px">
Votre Selection, Double cliquer pour deselectionner
	<ul ng-repeat="p in selection" class="mn">
<li ng-DblClick="deselectionner($index)"><img src="{{p}}.jpg" width="50"></li>
</ul>
</div>

<hr>
<div style="border: 1px solid black;height:150px">
Double cliquer pour selectionner
<ul ng-repeat="p in pieces" class="mn">
<li ng-DblClick="selectionner($index)"><img src="{{p}}.jpg" width="50"></li>
</ul>
</div>
</div>
<script src="jquery.min.js"></script>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>		